:root[data-theme="dark"] {
    --new-primary-text-color: #FFFFFF;
    --new-primary-white-color: #2A2A2D;

    // 全局主色
    --new-primary-color: #3591F4;
    --new-primary-color1: rgba(53, 145, 244, 0.1);
    // 链接色
    --new-link-color: #3591F4;
    // 成功色
    --new-success-color: #0CAA43;
    --new-success-color1: rgba(12, 170, 67, 0.1);
    --new-primary-color2: rgba(53, 145, 244, 0.08);
    // 警告色
    --new-warning-color: #FFA00A;
    --new-warning-color1: rgba(255, 160, 10, 0.1);
    --new-warning-color2: rgba(255, 160, 10, 0.5);
    // 错误色
    --new-error-color: #F43835;
    --new-error-color1: rgba(244, 56, 53, 0.1);
    --new-error-color2: #F7615F;

    --new-logo-color: #00B7BA;

    // 主文本色
    --new-text-color: #FFFFFF;
    // 次文本色
    --new-text-color-secondary: #898D97;

    // 白的背景
    --new-bg-white-color: #1C1C1C;
    --new-bg-grey-color: #161616;
    --new-bg-grey-color1: transparent;
    --new-bg-black2-color: #222222;
    --new-bg-hover-color: rgba(53, 145, 244, 0.1);
    --new-bg-white-color1: rgba(0, 0, 0, 0.5);

    // 边框、输入框、分割线
    --new-border-color-base: #2A2A2D;
    // icon
    --new-icon-color: #898D97;

    // 主字号
    --new-font-size-base: 14px;
  
    // 组件/浮层圆角
    --new-border-radius-base: 4px;
    --new-modal-border-radius-base: 5px;
  
    // 阴影
    --new-box-shadow-color: #000000;
    --new-modal-box-shadow-color: 0px 4px 12px rgba(0, 0, 0, 0.8);
}